In [1]:
import pandas as pd

In [5]:
original_df = pd.read_csv("2022-2023_power.csv")
display(original_df.head())
display(original_df.info())

,日期,淨尖峰供電能力(MW),尖峰負載(MW),備轉容量(MW),備轉容量率(%),工業用電(百萬度),民生用電(百萬度),核一#1(萬瓩),核一#2(萬瓩),核二#1(萬瓩),...,大觀二,明潭,碧海,立霧,龍澗,卓蘭,水里,其他小水力,風力發電,太陽能發電
0,20220101,29007,25661,3346,13.04,329.548,212.867,0,0,0,...,31.8,74.0,0.0,1.7,3.5,4.0,0.0,22.6,54.7,0.0
1,20220102,29556,25915,3641,14.05,325.723,210.396,0,0,0,...,37.7,69.3,0.0,1.6,2.9,1.8,0.0,22.5,57.3,0.0
2,20220103,33160,29976,3184,10.62,368.458,237.999,0,0,0,...,21.6,60.0,0.0,1.6,4.0,4.0,0.0,22.0,49.7,0.0
3,20220104,32950,30330,2620,8.64,382.670,247.180,0,0,0,...,30.1,64.1,0.0,1.6,2.5,1.8,0.0,22.2,46.2,0.0
4,20220105,32961,30449,2512,8.25,387.567,250.343,0,0,0,...,35.6,40.5,0.0,1.6,3.1,2.8,0.0,22.0,20.9,0.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 396 entries, 0 to 395
Data columns (total 71 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   日期               396 non-null    int64
 1   淨尖峰供電能力(MW)      396 non-null    int64
 2   尖峰負載(MW)         396 non-null    int64
 3   備轉容量(MW)         396 non-null    int64
 4   備轉容量率(%)         396 non-null    float64
 5   工業用電(百萬度)        396 non-null    float64
 6   民生用電(百萬度)        396 non-null    float64
 7   核一#1(萬瓩)         396 non-null    int64
 8   核一#2(萬瓩)         396 non-null    int64
 9   核二#1(萬瓩)         396 non-null    int64
 10  核二#2(萬瓩)         396 non-null    float64
 11  核三#1             396 non-null    float64
 12  核三#2             396 non-null    float64
 13  林口#1             396 non-null    float64
 14  林口#2             396 non-null    float64
 15  林口#3             396 non-null    float64
 16  台中#1             396 non-null    float64
 17  台中#2             396 non-null    float64
 18  台中#3             396 non-null    float64
 19  台中#4             396 non-null    float64
 20  台中#5             396 non-null    float64
 21  台中#6             396 non-null    float64
 22  台中#7             396 non-null    float64
 23  台中#8             396 non-null    float64
 24  台中#9             396 non-null    float64
 25  台中#10            396 non-null    float64
 26  興達#1             396 non-null    float64
 27  興達#2             396 non-null    float64
 28  興達#3             396 non-null    float64
 29  興達#4             396 non-null    float64
 30  大林#1             396 non-null    float64
 31  大林#2             396 non-null    float64
 32  和平#1             396 non-null    float64
 33  和平#2             396 non-null    float64
 34  麥寮#1             396 non-null    float64
 35  麥寮#2             396 non-null    float64
 36  麥寮#3             396 non-null    float64
 37  汽電共生             396 non-null    float64
 38  大潭 (#1-#6)       396 non-null    float64
 39  通霄 (#1-#6，GT#9)  396 non-null    float64
 40  興達 (#1-#5)       396 non-null    float64
 41  南部 (#1-#4)       396 non-null    float64
 42  大林(#5-#6)        396 non-null    float64
 43  海湖 (#1-#2)       396 non-null    float64
 44  國光 #1            396 non-null    float64
 45  新桃#1             396 non-null    float64
 46  星彰#1             396 non-null    float64
 47  星元#1             396 non-null    float64
 48  嘉惠#1             396 non-null    float64
 49  豐德(#1-#2)        396 non-null    float64
 50  協和 (#1-#4)       396 non-null    float64
 51  氣渦輪              396 non-null    float64
 52  離島               396 non-null    float64
 53  德基               396 non-null    float64
 54  青山               396 non-null    float64
 55  谷關               396 non-null    float64
 56  天輪               396 non-null    float64
 57  馬鞍               396 non-null    float64
 58  萬大               396 non-null    float64
 59  大觀               396 non-null    float64
 60  鉅工               396 non-null    float64
 61  大觀二              396 non-null    float64
 62  明潭               396 non-null    float64
 63  碧海               396 non-null    float64
 64  立霧               396 non-null    float64
 65  龍澗               396 non-null    float64
 66  卓蘭               396 non-null    float64
 67  水里               396 non-null    float64
 68  其他小水力            396 non-null    float64
 69  風力發電             396 non-null    float64
 70  太陽能發電            396 non-null    float64
dtypes: float64(64), int64(7)
memory usage: 219.8 KB

None

In [10]:
selected_columns = ["日期", "淨尖峰供電能力(MW)", "尖峰負載(MW)", "備轉容量(MW)"
                    , "備轉容量率(%)", "工業用電(百萬度)", "民生用電(百萬度)"]
df = original_df[selected_columns]
display(df.head())
display(df.drop("日期", axis=1).describe())

         日期  淨尖峰供電能力(MW)  尖峰負載(MW)  備轉容量(MW)  備轉容量率(%)  工業用電(百萬度)  民生用電(百萬度)
0  20220101        29007     25661      3346     13.04    329.548    212.867
1  20220102        29556     25915      3641     14.05    325.723    210.396
2  20220103        33160     29976      3184     10.62    368.458    237.999
3  20220104        32950     30330      2620      8.64    382.670    247.180
4  20220105        32961     30449      2512      8.25    387.567    250.343

,淨尖峰供電能力(MW),尖峰負載(MW),備轉容量(MW),備轉容量率(%),工業用電(百萬度),民生用電(百萬度)
count,396.000000,396.000000,396.000000,396.000000,396.000000,396.000000
mean,36092.507576,31750.000000,4299.686869,13.722980,367.921407,274.784210
std,4471.465956,4179.503585,1302.309302,4.403209,32.538933,46.397207
min,26200.000000,21459.000000,1316.000000,3.370000,259.930000,192.828000
25%,32911.000000,29126.250000,3300.500000,10.400000,348.981250,240.720750
50%,35125.500000,31024.500000,4155.500000,13.030000,371.485500,265.638500
75%,39994.250000,34500.500000,5110.750000,15.985000,391.870000,305.354000
max,44947.000000,40748.000000,9073.000000,31.060000,429.990000,404.301000